<div class='profile-container'>
  <div class='profile'>
    <h2>Events you've created</h2>
    <% @outings.each do |outing|%>
      <div class='outing-box'>
        <h3>Outing on <%= outing[:date] %></h3>
        <span class='profile-button'>Info</span>
        <span class='profile-button'>Graphs</span>
        <div class='info-box'>
          <h5>Total Responses: <%= outing[:total_responses] %></h5>
          <div class='outing-info'>
            <ul>
              <h5>Movie</h5>
              <% outing[:selections].each do |selection| %>
                <li> <%= selection[:movie].title.upcase %> </li>
              <% end %>
            </ul>
          </div>
          <div class='outing-info'>
            <ul>
              <h5>Theater</h5>
              <% outing[:selections].each do |selection| %>
                <li> <%= selection[:theater].name %> </li>
              <% end %>
            </ul>
          </div>
          <div class='outing-info'>
            <ul>
              <h5>Showtime</h5>
              <% outing[:selections].each do |selection| %>
                <li> <%= selection[:showtime] %> </li>
              <% end %>
            </ul>
          </div>
          <div class='outing-info'>
            <ul>
              <h5>Number of Attendees</h5>
              <% outing[:selections].each do |selection| %>
                <li> <%= selection[:attendees_num] %> </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
