<div class="row">
  <div class="large-12 columns">
    <div class="nav-wrapper">
      <div class="logo-nav">
        <ul class="nav">
          <li id="settings">
            <a href="/" id="logo">DINO</a>
          </li>
          <li>
            <a href="#">ABOUT</a>
          </li>
        </ul>
      </div>
      <div class="user-nav">
        <ul class="nav">
          <li id="search">
            <%= form_for :outing, url: start_path, method: 'get', :html => {id: 'zipcode_form'} do |f|  %>
              <button type="button" name="search_button" id="search_button"><i class="icon-ticket"></i></button>
              <%= text_field_tag 'zipcode', nil, pattern: '\d{5}', required: true, id: 'search_text', maxlength: 5, placeholder: 'ZIP CODE' %>
              <%= f.submit "I'm hidden", style: "display:none" %>
            <% end %>
          </li>
          <li id="options">
          <% if current_user %>
            <a href="#" id='current_user'><%= current_user.first_name %></a>
            <ul class="subnav">
              <li><a href="#"><i class="icon-calendar"></i>My Events</a></li>
              <li><a href="#"><i class="icon-user"></i>Profile</a></li>
              <li><%= link_to "SIGN OUT", signout_path, id: "sign_out" %></li>
            </ul>
          <% else %>
            <a href="#">Sign In</a>
            <ul class="subnav">
              <li> <%= link_to "Facebook", "/auth/facebook", rel: :external, id: "sign_in" %></li>
            </ul>
          <% end %>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>

<script>
  jQuery(document).ready(function ($) {

    $( '#search_button' ).click( function(event) {
      $( '#new_outing' ).submit();
    });

    $( '#search_button, #search_text' ).hover( function() {
      $( '#search_text' ).css( { width : '200px', paddingLeft : '15px' } );
    }, function() {
      $( '#search_text' ).css( { width : '0px', paddingLeft : '0px' } );
    });

    $( '#search_text' ).on( 'click', function() {
      $(this).css( { width : '200px', paddingLeft : '15px' } ).unbind( 'mouseleave' );
    });

  });
</script>