<% @outing.get_theaters.each do |theater|  %>
<div class='theater panel' data-theater-id='<%= theater.id %>'>
  <h3><%= theater.name %></h3>
  <% @theater_selections = @outing.selections.where(:theater_id => theater.id) %>
  <ul>
    <% @outing.get_movies.each do |movie|  %>
    <% @theater_movies = @theater_selections.where(movie_id: movie.id) %>
    <% unless @theater_movies.empty? %>
    <li class='movie' data-movie-id='<%= movie.id %>' data-theater-id='<%= theater.id %>'>
      <h6><%= movie.display_title %></h6>
      <ul>
        <% @theater_movies.each do |selection| %>
        <li class='showtime-checkbox' data-selection-id='<%= selection.id %>'><%= check_box_tag(selection.movie.title, selection.id,
        checked = false, name: "selections[#{selection.movie.title}_#{selection.id}]") %><%=display_time selection.time %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
    <% end %>
  </ul>
</div>
<% end %>