<div id="select-movie">
  <div class="row">
    <div class="large-12 columns">
      <div id="select">
        <h2>SELECT A MOVIE</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= form_for @outing, :html => {:class => "marquee"} do |f| %>
      <div id="movie-marquee-wrapper">
        <div id="movie-marquee" class="movie-marquee">
          <ul>
          <% @movies.each_with_index do |movie, index| %>
            <% index += 1 %>
            <% checkbox = check_box_tag(movie.title, movie.id, checked = false, name: "movies[#{movie.title}]") %>
            <% if index <= 8 %>
              <% label = label_tag(movie.title, nil, :class => 'panel', :style => "background-image: url(#{movie.poster})", :data => {:image_url => movie.poster}) %>
            <% else %>
              <% label = label_tag(movie.title, nil, :class => 'panel', :data => {:image_url => movie.poster}) %>
            <% end %>
            <% if (index) % 4 == 1 %>
              <li>
                <div class='poster'>
                  <span class="check"><i class="icon-ok"></i></span>
                  <%= checkbox %>
                  <%= label %>
                  <div class="movie-info-tool-tip tool-tip-right">
                    <div class="movie-info-wrapper">
                      <div>
                        <h4><%= movie.title %></h4>
                      </div>
                      <div>
                        <%= movie.mpaa_rating %>
                      </div>
                      <div>
                        <%= movie.runtime %>
                      </div>
                      <span class="arrow-left"><i class="icon-caret-left"></i></span>
                    </div>
                  </div>
                </div>
            <% elsif (index) % 4 == 0 %>
              <div class='poster'>
                <span class="check"><i class="icon-ok"></i></span>
                <%= checkbox %>
                <%= label %>
                <div class="movie-info-tool-tip tool-tip-left">
                  <div class="movie-info-wrapper">
                    <div>
                      <h4><%= movie.title %></h4>
                    </div>
                    <div>
                      <%= movie.mpaa_rating %>
                    </div>
                    <div>
                      <%= movie.runtime %>
                    </div>
                    <span class="arrow-right"><i class="icon-caret-right"></i></span>
                  </div>
                </div>
              </div>
            </li>
            <% elsif (index) % 4 == 3 %>
              <div class='poster'>
                <span class="check"><i class="icon-ok"></i></span>
                <%= checkbox %>
                <%= label %>
                <div class="movie-info-tool-tip tool-tip-left">
                  <div class="movie-info-wrapper">
                    <div>
                      <h4><%= movie.title %></h4>
                    </div>
                    <div>
                      <%= movie.mpaa_rating %>
                    </div>
                    <div>
                      <%= movie.runtime %>
                    </div>
                    <span class="arrow-right"><i class="icon-caret-right"></i></span>
                  </div>
                </div>
              </div>
            <% elsif (index) % 4 == 2 %>
              <div class='poster'>
                <span class="check"><i class="icon-ok"></i></span>
                <%= checkbox %>
                <%= label %>
                <div class="movie-info-tool-tip tool-tip-right">
                  <div class="movie-info-wrapper">
                    <div>
                      <h4><%= movie.title %></h4>
                    </div>
                    <div>
                      <%= movie.mpaa_rating %>
                    </div>
                    <div>
                      <%= movie.runtime %>
                    </div>
                    <span class="arrow-left"><i class="icon-caret-left"></i></span>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

          <% if @movies.length % 4 == 0 %>
            </li>
          <% end %>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="day-time-container">
    <div class="row">
      <div class="large-12 columns">
        <div id="select">
          <h2>SELECT A DAY AND TIME</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="day-time">
        <%= render 'outings/time_selects' %>
      </div>
    </div>
    <div class="row">
      <div class='large-12 columns'>
        <div id="create">
          <span id='login-errors'></span>
          <%= f.submit "CREATE EVENT", :class => "button" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<script>
  jQuery( document ).ready( function ( $ ) {

    $(document).click(function() {
      $('.wrapper-dropdown').removeClass('active');
    });

    function DropDown( el, select, indexStart) {
      this.dd = el;
      this.sel = select;
      this.indexStart = indexStart
      this.placeholder = this.dd.children( 'span' );
      this.opts = this.dd.find( 'ul.dropdown > li' );
      this.val = '';
      this.index = -1;
      this.initEvents();
    }

    DropDown.prototype = {
      initEvents : function() {
        var obj = this;
 
        obj.dd.on('click', function(event){
            $(this).toggleClass('active');
            return false;
        });
 
        obj.opts.on('click',function(){
          var opt = $(this);
          obj.val = opt.text();
          // Index starts at 8, so this must start at 8
          obj.index = opt.index() + obj.indexStart;
          obj.placeholder.text( obj.val );
          obj.sel.val(obj.index);
        });
      },
      getValue : function() {
        return this.val;
      },
      getIndex : function() {
        return this.index;
      }
    }

    var day = new DropDown( $( '#day-dd' ), $( '#day' ), 0 );
    var start = new DropDown( $( '#start-dd' ), $( '#start_time' ), 8 );
    var end = new DropDown( $( '#end-dd' ), $( '#end_time' ), 8 );

  });
</script>
