<div class="row">
  <div class="large-12 columns">
    <h1>MOVIE MARQUEE</h1>
  </div>
</div>

<div id="dino-form" class="row">
    <%= form_for @outing, :html => {:class => "marquee"} do |f| %>
    <div id="movie-marquee" class="movie-marquee">
      <ul>
      <% @movies.each_with_index do |movie, index| %>

        <% if (index + 1) % 4 == 1 %>
          <li>
            <div class='large-3 columns'>
              <%= check_box_tag(movie.title, movie.id, checked = false, name: "movies[#{movie.title}]") %>
              <%= label_tag(movie.title, nil, :class => 'panel', :style => "background-image: url(#{movie.poster_large})") %>
            </div>
        <% elsif (index + 1) % 4 == 0 %>
          <div class='large-3 columns'>
            <%= check_box_tag(movie.title, movie.id, checked = false, name: "movies[#{movie.title}]") %>
            <%= label_tag(movie.title, nil, :class => 'panel', :style => "background-image: url(#{movie.poster_large})") %>
          </div>
        </li>
        <% else %>
          <div class='large-3 columns'>
            <%= check_box_tag(movie.title, movie.id, checked = false, name: "movies[#{movie.title}]") %>
            <%= label_tag(movie.title, nil, :class => 'panel', :style => "background-image: url(#{movie.poster_large})") %>
          </div>
        <% end %>
      <% end %>

      <% if @movies.length % 4 == 0 %>
        </li>
      <% end %>

      </ul>
  </div>

  <%= render 'outings/time_selects' %>
  
  <div class='large-12 columns'>
    <p>
      <%= hidden_field_tag(:time_zone, @time_zone) %>
      <%= f.submit "CREATE EVENT", :class => "button" %>
    </p>
  </div>

  <% end %>
</div>

<hr>
