<div class='large-2 columns'>
  <span class="showing">SHOWING</span>
</div>
<div class='large-2 columns'>
  <%= select_tag(:day, options_for_select(@days))%>
  <div id="day-dd" class="wrapper-dropdown" tabindex="1">
    <span>TODAY</span>
    <ul class="dropdown">
        <% @days.each do |day| %>
        <li><a href="#"><%= day[0] %></a></li>
        <% end %>
    </ul>
  </div>
</div>
<div class='large-2 columns between'>
  <span class="between">BETWEEN</span>
</div>
<div class='large-2 columns'>
  <%= select_tag(:start_time, options_for_select(time_range)) %>
  <div id="start-dd" class="wrapper-dropdown" tabindex="1">
    <span>8AM</span>
    <ul class="dropdown">
        <% time_range.each do |time| %>
        <li><a href="#"><%= time[0] %></a></li>
        <% end %>
    </ul>
  </div>
</div>
<div class='large-2 columns between'>
  <span class="between">AND</span>
</div>
<div class='large-2 columns'>
  <%= select_tag(:end_time, options_for_select(time_range)) %>
  <div id="end-dd" class="wrapper-dropdown" tabindex="1">
    <span>8AM</span>
    <ul class="dropdown">
        <% time_range.each do |time| %>
        <li><a href="#"><%= time[0] %></a></li>
        <% end %>
    </ul>
  </div>
</div>