<div>
  <h4><%= movie.title %></h4>
</div>
<div>
  Rated <%= movie.mpaa_rating %>
</div>
<div>
  <%= hours_minutes(movie.runtime) %>
</div>
<div>
  Critics Score: <%= movie.critics_score %>
</div>
<div>
  Audience Score: <%= movie.audience_score %>
</div>
