<%= form_for @outing do |f| %>
  <h3> Movies </h3>
  <% @movies.each do |movie| %>
   <p>
    <%= check_box_tag(:movie, movie.id, checked = false, name: "movies[#{movie.title}]") %><%= movie.title %>
  </p>
  <% end %>

  <h3> Available Times </h3>
  <p>
    <%= select_tag(:day, options_for_select(@days))%>
    <%= label_tag "Start Time Range" %>
    <%= select_tag(:start_time, options_for_select(@time_ranges)) %>
    <%= select_tag(:end_time, options_for_select(@time_ranges)) %>
    <%= hidden_field_tag(:time_zone, @time_zone) %>
  </p>

  <%= f.submit "Create Outing" %>
<% end %>


