<div class='movie-marquee' id='movie-marquee'>
 <h4> Movies </h4>
  <% @movies.each do |movie| %>
    <div class="large-6 columns">
      <%= check_box_tag(movie.title, movie.id, checked = true, name: "movies[#{movie.title}]") %>
       <%= label_tag(movie.title, nil, :class => 'checked panel', :style => "background-image: url(#{movie.poster_large})", :data => {movie_id: "#{movie.id}", movie_title: "#{movie.title}"}) %>
    </div>
  <% end %>
</div>

<div>
  <h4> Theaters </h4>
    <% @theaters.each do |theater| %>
      <%= check_box_tag(theater.name, theater.id, checked = true, name: "theaters[#{theater.name}]", :data => {theater_id: "#{theater.id}", theater_name: "#{theater.name}"}) %><%= theater.name %><br>
    <% end %>
</div>
<hr>

  <%= render 'shared/theater' %>

  <h4> Which showtimes are you interested in? </h4>
  
  <% @outing.selections.each do |selection| %>
    <div class='panel' data-selection-id="<%=selection.id %>">
      <%= check_box_tag(selection.id, selection.id, checked = false, name: "selection[#{selection.id}]", :data => {theater_id: "#{selection.showtime.theater.id}", movie_id: "#{selection.showtime.movie.id}"}) %>
      <p><%= selection.showtime.movie.title %></p>
      <p><%= selection.showtime.theater.name %></p>
      <p><%= time_tag(selection.showtime.time.getlocal) %></p>
    </div>
  <% end %>


