<div class="hero">
  <div class="row">
    <div class="large-12 columns">
      <div class="">
        <h1>WANT TO CATCH A MOVIE?</h1>
        <p>Fill out the form below and join your friends.</p>
        <div class="wheel-1"></div>
      </div>
    </div>
  </div>
</div>

<div class="sub-hero">
  <div class="row">
    <div class="large-12 columns">
      <div class="">
        <h3>Showtimes that interest you. <small>(Check all that apply)</small></h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <%= form_for @attendee do |f| %>
    <%= render 'shared/theater_selection' %>
  </div>


  <div class="large-4 columns sticky-container">
    <div class="panel sticky">
      <div class='movie-filter'>
       <h5>FILTER BY MOVIE</h5>
       <% @movies.each do |movie| %>
        <%= check_box_tag(movie.title, movie.id, checked = true, name: "movies[#{movie.title}]", :data => {movie_id: "#{movie.id}", movie_title: "#{movie.title}"}) %>
        <%= label_tag(movie.title, nil, :class => 'panel', :style => "")%>
        <% end %>
      </div>
      <div class='theater-filter'>
        <h5>FILTER BY THEATER</h5>
        <% @theaters.each do |theater| %>
        <%= check_box_tag(theater.name, theater.id, checked = true, name: "theaters[#{theater.name}]", :data => {theater_id: "#{theater.id}", theater_name: "#{theater.name}"}) %><%= theater.name %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="attendees-submit">
  <div class="row">
    <div class="large-6 columns">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="large-6 columns">
      <%= f.hidden_field :outing_id, value: @outing.id %>
      <%= f.submit 'ATTEND', class: 'button large' %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
 
    var stickyTop = $('.sticky').offset().top;
    var stickyHeight = $( '.sticky' ).height();
    var container = $( '.large-8' ).height();
   
    $(window).scroll(function(){
   
      var windowTop = $(window).scrollTop();
      var nick = stickyHeight + windowTop;
      var elodeon = stickyTop + container;

      if ( (stickyHeight + windowTop) > (stickyTop + container) ) {
        console.log('here')
        var stickStickly = container - stickyHeight + 25;
        console.log(stickStickly);
        $('.sticky').css({ position: 'absolute', top: stickStickly, width: 303 + 'px' });

      } else if ( stickyTop < windowTop + 25 ) {
        $('.sticky').css({ position: 'fixed', top: 25, width: 303 + 'px' });

      } else {
        $('.sticky').css('position','static');
      }

    });

    theaterFilter();
    movieFilter();

    function theaterFilter()
    {
      $('.theater-filter :checkbox').change(function(e){
        e.preventDefault();
        var theaterId = $(this).data('theater-id');
        var $theaterBox = $('.theater[data-theater-id=' + theaterId + ']')

        if ($(this).attr('checked')) {
          $theaterBox.hide();
          $(this).removeAttr('checked');
          $theaterBox.find('.showtime-checkbox').children().removeAttr('checked');
        } else {
          $theaterBox.show();
          $(this).attr('checked', 'checked');
        };
      })
    };

    function movieFilter()
    {
      $('.movie-filter :checkbox').change(function(e){
        e.preventDefault();
        var movieId = $(this).data('movie-id');
        var $movieCheckBoxes = $('.movie[data-movie-id=' + movieId + ']');

        if($(this).attr('checked')) {
          $.each($movieCheckBoxes, function() {
            
          });

          $($movieCheckBoxes).css('opacity', '0.2');
          $($movieCheckBoxes).find('input').prop('disabled', true);

          $(this).removeAttr('checked');
          $movieCheckBoxes.find('.showtime-checkbox').children().removeAttr('checked');
        } else {
          $($movieCheckBoxes).css('opacity', '1');
          $($movieCheckBoxes).find('input').prop('disabled', false);
          $(this).attr('checked', 'checked');
        };
      });
    };
   
  });
</script>
