<div class='about-page-container'>
  <div class='about-page'>
    <div class='site-about'>
      <%= image_tag('movie_dino.png', :class => 'about-image', :height => '35%', :width => '35%') %>
      <h2>About Movie Dino</h2>
      <p>Getting a group together to watch a movie is a pain. Everyone has different schedules and preferences.</p>
      <p>Movie Dino helps you plan a movie event with your friends.</p>
      <p>Select movies and times. Get available showtimes. Poll your friends and get the top three results.</p>
    </div>
    <div class='profile-container'>
      <span>Movie Dino is a project designed and constructed by these four junior software engineers at Dev Bootcamp</span>
      <div class='i-profile'>
        <%= image_tag('https://secure.gravatar.com/avatar/5b6409d0fb32ed780373933fd81052fc?s=400&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png', :class => 'profile-image') %>
        <p class='name'>Robby Fairclough</p>
        <%= link_to(raw("<i class='icon-github i-icon'></i>"), 'https://github.com/juniorSE7EN') %>
        <%= link_to(raw("<i class='icon-twitter i-icon'></i>"), 'https://twitter.com/juniorSE7EN') %>
      </div>

      <div class='i-profile'>
        <%= image_tag('https://secure.gravatar.com/avatar/74a3fecf7e34a065f1cdde47fe2fd70d?s=400&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png', :class => 'profile-image') %>
        <p class='name'>Sean 'Mac' Browning</p>
        <%= link_to(raw("<i class='icon-github i-icon'></i>"), 'https://github.com/seanbr') %>
        <%= link_to(raw("<i class='icon-twitter i-icon'></i>"), 'https://twitter.com/macnotsean') %>
      </div>

      <div class='i-profile'>
        <%= image_tag('https://secure.gravatar.com/avatar/282d9e1d771f9000c0d67fc7c95a9635?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png', :class => 'profile-image') %>
        <p class='name'>Vincent Storme</p>
        <%= link_to(raw("<i class='icon-github i-icon'></i>"), 'https://github.com/vincentstorme') %>
        <%= link_to(raw("<i class='icon-twitter i-icon'></i>"), 'https://twitter.com/vincentstorme') %>
      </div>

      <div class='i-profile'>
        <%= image_tag('https://secure.gravatar.com/avatar/f110db3cd0a91c144a716dbf126c5363?s=400&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png', :class => 'profile-image') %>

        <p class='name'>Angie Bui</p>
        <%= link_to(raw("<i class='icon-github i-icon'></i>"), 'https://github.com/angiebui') %>
        <%= link_to(raw("<i class='icon-twitter i-icon'></i>"), 'https://twitter.com/angie_bui') %>
      </div> 
    </div>

  </div>
  <div class='footer-clearer'>
  </div>
</div>

