<!DOCTYLE html>
<html>
  <head>
    <meta context='text/html; charset=UTF-8' http-equiv="Content-Type"/>
  </head>

  <body>
    <h2> It's time to watch a movie! </h2>
    <hr>
    <p> <%= user.first_name.capitalize %>, Dash found a few great movies for you and your friends. Check it out:</p>

    <hr>
    <% @outing.selections.top_picks.limit(3).each_with_index do |selection| %>
      <h4>#<%= index %>.</h4>
      <p><%= image_tag(selection.movie.poster_med) %></p>
      <p><%= selection.movie.title %> at <%= selection.showtime.time_in_timezone %></p><br>
      <p><%= selection.theater.name %></p>
      <p><%= selection.theater.address %></p>
  </body>

</html>
