<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MovieBuddy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <%= render 'shared/header' %>
  </div>
  <div class="row">
    <%= yield %>
  </div>
  <%= javascript_include_tag "movie_marquee" %>
  <script>
    $(document).ready(function() {

      $(document).foundation();

      $(".movie-marquee input[type='checkbox']").change(function() {
        if($(this).is(':checked')) {
          $(this).next('label').addClass('checked');
        } else {
          $(this).next('label').removeClass('checked');
        }
      });

      $( '#movie-marquee' ).movieMarquee();

    });
  </script>
</body>
</html>
